Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-JWT-Extended==4.6.0
Flask-CORS==4.0.1
Flask-SocketIO==5.3.6
Werkzeug==3.0.3
python-dotenv==1.0.1
bcrypt==4.2.0
requests==2.32.3
PyYAML==6.0.2
python-dateutil==2.9.0
redis==5.1.1
gunicorn==22.0.0